<div class="container mt-4 mb-4">
  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/events']">Events</a></li>
      <li class="breadcrumb-item active" aria-current="page">Calendar</li>
    </ol>
  </nav>

  <!-- Calendar -->
  <div class="row mt-4">
      <div class="col-10 offset-1">
      <div class="card shadow mx-auto rounded">
        <div class="card-body">

        <!--  Month Name and Calendar Controls -->
          <div class="row row-cols-1 text-center">
            <div class="btn-group btn-group-sm">
               <button type="button" class="btn btn-outline-light border-light text-dark"><i class="material-icons">keyboard_arrow_left</i></button>
               <button type="button" class="btn btn-outline-light text-dark disabled"><h4 class="display-3">August</h4></button>
               <button type="button" class="btn btn-outline-light text-dark"><i class="material-icons">keyboard_arrow_right</i></button>
             </div>
           </div>

         <!-- Week Day Names -->
          <div class="row row-cols-7 text-center day-name border border-secondary rounded-3 my-2 pt-2">
            <div class="col">
              <h6>
               <small class="text-muted">S</small>
             </h6>
             </div>
            <div class="col">
              <h6>
               <small class="text-muted">M</small>
             </h6>
            </div>
            <div class="col">
              <h6>
               <small class="text-muted">T</small>
             </h6>
             </div>
            <div class="col">
              <h6>
               <small class="text-muted">W</small>
             </h6>
            </div>
            <div class="col">
              <h6>
               <small class="text-muted">T</small>
             </h6>
            </div>
            <div class="col">
              <h6>
               <small class="text-muted">F</small>
             </h6>
             </div>
            <div class="col">
              <h6>
               <small class="text-muted">S</small>
             </h6>
            </div>
          </div>

          <!-- Numbered Date Boxes -->
          <div class="row row-cols-7 text-center my-2">
            <div class="col text-muted">31</div>
            <div class="col">1</div>
            <div class="col">2</div>
            <div class="col">3</div>
            <div class="col">4</div>
            <div class="col">5</div>
            <div class="col">6</div>
          </div>

          <div class="row row-cols-7 text-center my-2">
            <div class="col">7</div>
            <div class="col">8</div>
            <div class="col">9</div>
            <div class="col">10</div>
            <div class="col">11</div>
            <div class="col">12</div>
            <div class="col">13</div>
          </div>


          <div class="row row-cols-7 text-center my-2">
            <div class="col">14</div>
            <div class="col">15</div>
            <div class="col">16</div>
            <div class="col">17</div>
            <div class="col">18</div>
            <div class="col">19</div>
            <div class="col">20</div>
          </div>


          <div class="row row-cols-7 text-center my-2">
            <div class="col">21</div>
            <div class="col">22</div>
            <div class="col">23</div>
            <div class="col">24</div>
            <div class="col">25</div>
            <div class="col">26</div>
            <div class="col">27</div>
          </div>

          <div class="row row-cols-7 text-center my-2">
            <div class="col">28</div>
            <div class="col bg-info rounded-2">29</div>
            <div class="col">30</div>
            <div class="col">31</div>
            <div class="col text-muted">1</div>
            <div class="col text-muted">2</div>
            <div class="col text-muted">3</div>
          </div>

        </div>
      </div>
     </div><!-- End Square Calendar Column -->

     <!-- Date Details Column -->
     <div class="col-2">

     </div> <!-- End Date Details Column -->

   </div> <!-- End Calendar Row -->

  </div>
