<div class="container">
  <div class="flex-container"
     fxLayout="column"
     fxLayoutGap="15px">


  <div fxFlex>
   <div>
    <h2>Catalog</h2>
    <hr>
    </div>
  </div>

  <mat-grid-list class="product-list" cols="2" rowHeight="fit">
      <mat-card class="product-card" *ngFor="let product of products">
        <mat-card-header>
          <mat-card-title class="product-title">{{product.name}}</mat-card-title>

        </mat-card-header>
        <img mat-card-image src={{product.image}} alt={{product.name}}>
        <mat-card-content>
          <p>
            <span class="product-description">
              {{product.description}}
            </span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-list>

  </div>
</div>

<div class="container">
  <div class="flex-container"
     fxLayout="column"
     fxLayoutGap="15px">
    <h3>Using gutterSize</h3>
    <mat-grid-list cols="2" rowHeight="50px" gutterSize="15px" class="bg-fadedpink">
      <mat-grid-tile>A</mat-grid-tile>
      <mat-grid-tile>B</mat-grid-tile>
      <mat-grid-tile>C</mat-grid-tile>
      <mat-grid-tile>D</mat-grid-tile>
    </mat-grid-list>
    <h3>Grid List of Cards</h3>
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <mat-card class="grid-card">
          <mat-card-title>title</mat-card-title>
          <mat-card-content>
             content
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="grid-card">
          <mat-card-title>title</mat-card-title>
          <mat-card-content>
             content
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
