.product-list {
  height: 20vh;
}
.list-item {
  margin: 10px 10px;
  word-break: break-word;
  inline-size: min-content;
  overflow-wrap: break-word;
}

.product-title {
  margin-bottom: 2%;
  font-size: 1.8em;
  font-weight: 700;
}
.product-label {
  margin-bottom: 2%;
  font-size: 1.4em;
  font-weight: 600;
  background-color: blue;
  border-radius: 15px;
  padding: .25em .5em;
  text-transform: uppercase;
  text-align: center;
}
.product-body {
  margin-bottom: 2%;
  font-size: .95em;
}
.product-card {
  max-width: 400px;
}

.product-header-image {
  background-size: cover;
}

.grid-card {
  width: 100%;
  padding: 15px 15px;
}
