<div class="container pt-4 mb-4">

  <div class="jumbotron">
    <div class="col-12">
      <h1 class="text-center">Menu</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 p-2">
      <mat-card class="grid-card text-dark" *ngFor="let product of products" [routerLink]="['/product', product.id]">
          <img mat-card-image src={{product.image}} alt={{product.name}}>
          <mat-card-title class="product-title">
              {{product.name | uppercase}}
          </mat-card-title>

      </mat-card>
    </div>
  </div>
  <app-product [product] = "selectedProduct"></app-product>
</div>
