@import 'variables';

// Util Theme colors
$soft-black: #222;
$ballet-pink: #fbccd7;
$faint-pink: #fde6eb;
$pale-blush: #eb7f9d;
// Brand Theme
$deep-blush: #e3638b;
$persian-pink: #f87c96;
$alabaster-yellow: #f3f1e6;
$petite-orchid: #e29896;
$viking-blue: #4ab2c1;
$light-purple: #bfa1d0;
$dark-purple: #8f7ca1;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin: 0px auto;
	padding: $pad-up-dn $pad-left-right;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

.navbar-pink {
     background-color: $red;
		 color: $faint-pink;
		 button {
			 background-color: $red;
			 color: $pink;
		 }
		 span.brand {
			 font-weight: 700;
		 }
}
.row-header{
    @include zero-margin(0px,0px);
}

.row-content {
    @include zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height:400px;
}
.footer{
    background-color: $pink;
    @include zero-margin(20px, 0px);
}

/* Utilities */
.menu-spacer {
  flex: 1 1 auto;
}
.flex-container {
    margin: 20px;
    display:flex;
}

/* Text Elements */
.text-center {
	text-align: center;
}
/* Color Utils */
/* Background Colors */
.bg-fadedpink {
	background-color: $faint-pink;
}
.bg-dark {
  background-color: $soft-black;
}
.bg-balletpink {
  background-color: $ballet-pink;
}
.bg-faintpink {
  background-color: $faint-pink;
}
.bg-paleblush {
  background-color: $pale-blush;
}
.bg-deepblush {
  background-color: $deep-blush;
}
.bg-persianpink {
  background-color: $persian-pink;
}
.bg-yellow {
  background-color: $alabaster-yellow;
}
.bg-orchid {
  background-color: $petite-orchid;
}
.bg-blue {
  background-color: $viking-blue;
}
.bg-lightpurple {
  background-color: $light-purple;
}
.bg-darkpurple {
  background-color: $dark-purple;
}


/* Text Colors */
.text-dark {
  color: $soft-black;
}
.text-balletpink {
  color: $ballet-pink;
}
.text-faintpink {
  color: $faint-pink;
}
.text-paleblush {
  color: $pale-blush;
}
.text-deepblush {
  color: $deep-blush;
}
.text-persianpink {
  color: $persian-pink;
}
.text-yellow {
  color: $alabaster-yellow;
}
.text-orchid {
  color: $petite-orchid;
}
.text-blue {
  color: $viking-blue;
}
.text-lightpurple {
  color: $light-purple;
}
.text-darkpurple {
  color: $dark-purple;
}
.text-light {
	color: $faint-pink;
}
.text-dark {
	color: $soft-black;
}


.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
