<div class="container pt-4 mb-4">


  <div class="jumbotron">
    <div class="col-12">
      <h1>Darty's Sweet Shoppe</h1>
    </div>
  </div>
  <div class="row  mb-4">
    <div class="col-12">
      <h2>Browse Our Menu </h2>
    </div>
    <div class="col-12">
      <p>We combine old-school candy with modern-day fun!</p>
    </div>
  </div>
  <div class="row  mb-4">
    <div class="col-12">
      <h2>Contact Us </h2>
    </div>
    <div class="col-12">
      <p>We combine old-school candy with modern-day fun!</p>
    </div>
  </div>
  <div class="row  mb-4">
    <div class="col-12">
      <h2>Plan your next visit </h2>
    </div>
    <div class="col-12">
      <p>Located at 123 Candyland Ave. <br>
      Denver, Colorado</p>
    </div>
  </div>

</div>



