<mat-toolbar class="navbar-pink">
  <span><img src="/assets/images/logo/dartys-sweet-shoppe-logo.svg" height=30 width=41></span>
  <a mat-button routerLink="/home" outerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/aboutus" outerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button routerLink="/menu" outerLinkActive="active"><span class="fa fa-list fa-lg"></span> Menu</a>
  <a mat-button routerLink="/contactus" outerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">
    <div fxFlex fxFlex.gt-sm="30%"></div>
  <div fxFlex fxFlex.gt-sm="60%" class="text-center">
    <h1>Darty's Sweet Shoppe</h1>
    <div fxFlex fxFlex.gt-sm="100%">
      <img src="/assets/images/logo.svg" alt="Logo">
    </div>
  </div>
  <div fxFlex></div>
</div>
