<mat-toolbar class="navbar-pink">
  <span class="brand">Sweet Shoppe</span>
  <span class="menu-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation" (click)="sidenav.toggle()>
    <mat-icon class="material-icons-outlined">menu</mat-icon>
  </button>
  <div class="collapse" id="navbarLinks">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
  </div>
</mat-toolbar>
<app-menu></app-menu>
<app-footer></app-footer>
