.footer-text {
  font-size: 0.8em;
  font-weight: 600;
}
.footer-h2 {
  margin: 8px 8px;
  font-size: 1.2em;
  font-weight: 700;
}


.footer-title-border {
  border-bottom: 1px solid black;
}

.foot-cols-center {
  max-width: 50%;
}
@media (max-width: 424px) {
  .foot-cols-center {
    max-width: 100%;
  }
}

.icon-mutedpink {
  background-color: #fde6eb;
}