<p>footer works!</p>

<mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="address">place</mat-icon>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>

  </mat-grid-tile>

  <mat-grid-tile>
    <mat-list>
       <mat-list-item>  </mat-list-item>
       <mat-list-item>  </mat-list-item>
       <mat-list-item>  </mat-list-item>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-list>
       <mat-list-item>
         <span><mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="phone number">
           call
         </mat-icon> +1 223 345 6789</span>

        </mat-list-item>
       <mat-list-item>
         <span><mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="email address">
           email
         </mat-icon> candyshoppe@gmail.com</span>
        </mat-list-item>
        <mat-list-item>
         <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="address">
           place
         </mat-icon><span> 123 candyland ave. <br> Denver, CO.</span>

        </mat-list-item>
    </mat-list>
  </mat-grid-tile>

</mat-grid-list>
