<div class="fluid-container mt-auto text-dark px-2 py-2">
  <footer class="text-center text-white">
      <div class="fluid-container mt-auto text-dark px-2 py-2">

      <div class="container pt-4">
        <!-- Social media Links & Contact Methods -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg  m-1"
            href="https://www.facebook.com/dartyssweetshoppe/"
            role="button"
            ><i class="fa fa-facebook fa-lg"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg m-1"
            href="https://www.instagram.com/dartyssweets/"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fa fa-instagram fa-lg"></i
          ></a>

          <!-- Email Address -->
          <a
            class="btn btn-link btn-floating btn-lg m-1"
            href="mailto:dartyssweetshoppe@gmail.com"
            role="button"
            ><i class="fa fa-envelope-o fa-lg"></i
          ></a>

          <!-- Phone Number -->
          <a
          class="btn btn-link btn-floating btn-lg m-1"
          href="tel:2248884496"
          role="button"
          ><i class="fa fa-phone fa-lg"></i>
          </a>

        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright
      <div class="text-center text-dark p-3" style="background-color: rgba(59, 47, 47, 0.2);">
        Copyright &copy; 2022
        <a class="text-dark" href="https://github.com/Trianglium/CandyStore">Trianglium</a>
      </div>-->

    </div>
  </footer>
</div>
