<div class="fluid-container bg-balletpink text-dark px-2 py-2">
<div class="row footer-text">
  <!-- Contact / Location Info -->
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 px-2">
      <mat-list>
        <p class="footer-h2"> Contact </p>
         <mat-list-item>
           <span><mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="phone number">
             call
           </mat-icon> +1 223 345 6789</span>

          </mat-list-item>
         <mat-list-item>
           <span><mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="email address">
             email
           </mat-icon> candyshoppe@gmail.com</span>
          </mat-list-item>
          <mat-list-item>
           <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="address">
             place
           </mat-icon><span> 123 candyland ave. <br> Denver, CO.</span>

          </mat-list-item>
      </mat-list>
    </div>

    <!-- Social Icons / Links -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 px-2">
        <mat-list>
          <p class="footer-h2"> Contact </p>
           <mat-list-item>
             <span><mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="phone number">
               call
             </mat-icon> +1 223 345 6789</span>

            </mat-list-item>
           <mat-list-item>
             <span><mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="email address">
               email
             </mat-icon> candyshoppe@gmail.com</span>
            </mat-list-item>
            <mat-list-item>
             <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="address">
               place
             </mat-icon><span> 123 candyland ave. <br> Denver, CO.</span>

            </mat-list-item>
        </mat-list>
      </div>
  </div>
</div>
