<div class="container pt-4 mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ active }}</li>
      </ol>
    </nav>

  <div class="jumbotron text-center">
    <div class="col-12">
      <h1>Events</h1>
      <hr>
    </div>
  </div>

  <!-- Vertical Pills Nav -->
  <div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
      
      <li ngbNavItem="Events">
        <a ngbNavLink>Events</a>
        <ng-template ngbNavContent>
          <!-- Events Home Page (Container Component) -->
          <div class="container-fluid ms-5">
            <div class="row">
              <div class="col">
                <h2>Events</h2>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem="Feed">
        <a ngbNavLink>Feed</a>
        <ng-template ngbNavContent>
          <!-- Events Feed -->
          <app-event-feed></app-event-feed>
        </ng-template>
      </li>
      
      <li ngbNavItem="Calendar">
        <a ngbNavLink>Calendar</a>
        <ng-template ngbNavContent>
          <!-- Events Calendar -->
          <app-event-calendar></app-event-calendar>
        </ng-template>
      </li>
      
    </ul>
  
    <div [ngbNavOutlet]="nav" class="ms-4"></div>
  </div>
  
</div>
