<div class="page-wrapper">
    <div class="page-wrapper-inner">
      <div class="center-container">
        <div class="content text-center text-light">
            <img src="http://localhost:4200/assets/images/pagenotfound/404.svg"/>
            <!-- Image is in text so this will be hidden, but accessible to screen readers -->
            <span class="visually-hidden">
            <h1 class="text-dark">404 Page Not Found</h1>
            <p class="text-info help-text">Uh oh! <br>
              The page you are looking for, does not seem to exist.</p>
            </span>
        </div>
      </div>
    </div>
</div>
