<div class="container pt-4 mb-4">
  
<div class="jumbotron">
  <div class="col-12">
    <h1 class="text-center">About Us</h1>
    <hr>
  </div>
</div>

<div class="row mb-2 pb-2 align-items-center">
  <div class="col-sm-5 col-lg-2 order-first">
    <h2>Our Misson</h2>
  </div>
  <div class="col-sm-7 col-lg-10 order-last">
    <p class="lead">Darty’s Sweet Shoppe brings sweet and fun together. We want to provide our future generations the experience of a family-friendly candy shoppe environment. We combine old-school candy with modern-day FUN!!!</p>
  </div>
</div>


<div class="row mb-2 py-2 align-items-center">
  <div class="col-sm-5 col-md-6 col-lg-4 order-sm-1">
      <h2>Showcasing Oppurtunities</h2>
  </div>
  <div class="col-sm-5 col-md-6 col-lg-8 order-sm-12">
    <p class="lead">We work with local entrepreneurs who have a passion for sweets and baked goods. This would be a great way to expand your business. Join our Family. Let’s work together!</p>
  </div>
</div>

<div class="row mb-2 py-2 align-items-center">
  <div class="col-sm-5 col-lg-2 order-first">
    <h2>Follow Us</h2>
  </div>
  <div class="col-sm-7 col-lg-10 order-last">
    <p class="lead">Darty’s Sweet Shoppe brings sweet and fun together. We want to provide our future generations the experience of a family-friendly candy shoppe environment. We combine old-school candy with modern-day FUN!!!</p>
  </div>

</div>
</div>
