<div class="container">
<div class="jumbotron">
  <h2 class="text-center">About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elit massa, facilisis id sem a, tincidunt condimentum sem. Mauris a nulla est. Nulla commodo eget arcu et vehicula. Etiam rhoncus vitae tortor nec sodales.</p>
</div>
<div class="row">
  <div class="col-6">

  </div>
  <div class="col-6">

  </div>

</div>
<div class="row">
  <div class="col-6">

  </div>
  <div class="col-6">

  </div>
  <div class="col-6">

  </div>

</div>
</div>
