<div class="container pt-4 mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
  </nav>
  <div class="jumbotron">
    <div class="col-12">
      <h1 class="text-center">Contact Information</h1>
      <hr>
    </div>
  </div>
  <div class="row mb-4 mt-2">
    <div class="col-12 col-md-4">
      <h2>Our Location</h2>

      <!-- Address -->
      <div class="col ps-1">
          <div>
            <a href="https://maps.google.com/maps/dir//DARTY'S+SWEET+SHOPPE+218+Mitchell+Dr+Plano,+IL+60545/@41.6609782,-88.5033426,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x880ec1d83f2d978f:0x846022a228c2fa1c"><object type="image/svg+xml" data="./assets/images/icons/outlined/place/heart_pin_outlined48x48.svg" class="svg-icon">
          	</object></a>
            <p class="address">
             214 Mitchell Drive <br>
             &nbsp;  &nbsp;Plano, IL 60545
            </p>
          </div>

      </div>

    </div>
  
  <!-- Google Maps -->
    <div class="col-12 col-md-8">
      <iframe  id="sweetshoppeMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2980.813927657138!2d-88.50399198456569!3d41.659762129240164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880ec1d83f2d978f%3A0x846022a228c2fa1c!2sDARTY&#39;S%20SWEET%20SHOPPE!5e0!3m2!1sen!2sus!4v1653510267718!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <!-- Social Links -->
  <div class="row mb-2 py-2 align-items-center">
    <div class="col-6">
      <h2>Follow Us</h2>
    </div>
      <div class="col-2 py-3 text-center">
          <a mat-icon-button  href="https://www.facebook.com/dartyssweetshoppe"><i class="fa fa-facebook fa-lg"></i></a>
      </div>
  
      <div class="col-2 py-3 text-center">
        <a mat-icon-button  href="https://www.instagram.com/dartyssweets/?hl=en"><i class="fa fa-instagram fa-lg"></i></a>
      </div>
    </div>

    <!-- Other Contact Methods -->
    <div class="row mb-2 py-2 align-items-center">
      <div class="col-12 text-center">
        <h2>Get in touch</h2>
      </div>
      <div class="col-6 col-sm-4 col-md-3 py-3 text-center">
        <a mat-icon-button  href="https://maps.google.com/maps/dir//DARTY'S+SWEET+SHOPPE+218+Mitchell+Dr+Plano,+IL+60545/@41.6609782,-88.5033426,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x880ec1d83f2d978f:0x846022a228c2fa1c"><i class="fa fa-map-marker fa-lg"></i></a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 py-3 text-center">
        <a mat-icon-button  href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 py-3 text-center">
        <a mat-icon-button  href="mailto:"><i class="fa fa-envelope fa-lg"></i></a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 py-3 text-center">
        <a mat-icon-button><i class="fa fa-phone fa-lg"></i></a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 py-3 text-center">
        <a mat-icon-button><i class="fa fa-phone-square fa-lg"></i></a>
      </div>
  </div>
